<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="C:\temp\internal-nlog-ASPNetCore.txt">

 

    <extensions>
<add assembly="NLog.Web.AspNetCore"/>
</extensions>
<targets>
<variable name="logDirectory" value="logs/${shortdate}"/>
<target name="file1" xsi:type="File" fileName="${logDirectory}/file1.txt"/>
<target 
          name="database"
          xsi:type="Database"
          dbProvider="Microsoft.Data.SqlClient.SqlConnection,Microsoft.Data.SqlClient">
<connectionString>Server=PSL-1S9GDN3;Database=PETROL_SYS;Trusted_Connection=true;TrustServerCertificate=True</connectionString>
<commandText>
                INSERT INTO    `log`
                (
                `MachineName`,
                `Logged`,
                `Level`,
                `Message`,
                `Logger`,
                `Callsite`,
                `Exception`)
                VALUES
                (@MachineName,
                @Logged,
                @Level
                @Message,
                @Logger,
                @Callsite,
                @Exception);
</commandText>

 

            <parameter name="@MachineName" layout="${machinename}"/>
<parameter name="@Logged" layout="${date}"/>
<parameter name="@Level" layout="${level}"/>
<parameter name="@Message" layout="${message}"/>
<parameter name="@Logger" layout="${logger}"/>
<parameter name="@Callsite" layout="${callsite}"/>
<parameter name="@Exception" layout="${exception:tostring}"/>

 


</target>
</targets>

 

    <rules>
<logger name="*" minlevel="Trace" writeTo="database" />
<logger name="*" minlevel="Trace" writeTo="file1"/>
<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="database" />
<logger name="Microsoft.*" maxlevel="Info" final="true" />
<logger name="System.Net.Http.*" maxlevel="Info" final="true" />

 

    </rules>
</nlog>